{% for contract in contracts %}

{{ contract.full_name|upper }}<br />

{% endfor %}

<div class="pagination">
    <span class="step-links">
        {% if contracts.has_previous %}
        <a href="?page={{ contracts.previous_page_number }}">previous</a>
        {% endif %}
        <span class="current">
            Page {{ contracts.number }} of
            {{ contracts.paginator.numpages }}.
        </span>
        {% if contracts.has_next %}
        <a href="?page={{ contracts.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>