{% load staticfiles %}
<html>

<head>
    <title>J-Recom</title>
    <link rel="icon" type="image/gif" href="{% static 'images/icon.gif' %}">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    <link rel="stylesheet" href="{% static 'css/list.css' %}">
</head>

<body>
    <div id="right_side">
        <table border="1" width="500px">
            <tbody>
                <td align="left">
                    <a href="/accounts/login/">login</a>
                    <a href="/accounts/logout/">logout</a>
                    <a href="/accounts/signup/">signup</a>
                </td>
            </tbody>
        </table>
    </div>
</body>

<body>
    <div class="page-header">

        <h1><a href="/">Journal Recommender</a></h1>
    </div>
</body>
{% block menu %}
{% endblock %}

<body>
    <div class="content_container">
        {% block search %}
        {% endblock %}
        <div class="row">
            <div class="col-md-8">
                {% block time_order %}
                {% endblock %}
                <br>
                <br>


                {% for post in posts %}
                <div class="panel panel-default">
                    <div class="panel panel-heading">

                        <form method="POST" class="post-fav">
                            {% csrf_token %}
                            {{ form_fav.select.label }}
                            {% for radio in form_fav.select %}
                            {{ radio.tag }}
                            <label for="id_select_{{ radio.index }}">{{ radio.choice_label }}</label>
                            {% endfor %}
                            <input type="hidden" name="fav_id" value="{{ post.id }}">
                            <input type="submit" value="更新">
                        </form>

                        <div class="panel-title">
                            <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
                            <p>{{ post.author }}</p>
                        </div>
                    </div>
                    <div class="panel-body">
                        <p>{{ post.abstract|linebreaks }}</p>
                        <h5>
                            <p>Published_date: {{ post.date }}</p>
                        </h5>
                        <p>{{ post.jname }}</p>
                    </div>

                </div>
                {% endfor %}
            </div>
        </div>
    </div>

    {% include 'app/footer.html' %}

</body>

</html>