{% load staticfiles %}
<html>

<head>
    <title>J-Recom</title>
    <link rel="icon" type="image/gif" href="{% static 'images/icon.gif' %}">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    <link rel="stylesheet" href="{% static 'css/list.css' %}">
</head>

<body>
    <div id="right_side">
        <table border="1" width="500px">
            <tbody>
                <td align="left">
                    <a href="/accounts/login/">login</a>
                    <a href="/accounts/logout/">logout</a>
                    <a href="/accounts/signup/">signup</a>
                </td>
            </tbody>
        </table>
    </div>
</body>

<body>
    <div class="page-header">

        <h1><a href="/">Journal Recommender</a></h1>
    </div>
</body>

<body>

  <div class="cash clear">
    <h5> clear cash of db <h5>
  </div>
</body>

</html>
