{% extends 'app/base.html' %}

{% block menu %}
<div id="side">
    <ul class="sidenav">
        <li><a class="active" href="/">List</a></li>
        <li><a href="/favorite">Favorite</a></li>
        <li><a href="/read">Read</a></li>
        <li><a href="/want">Want</a></li>
        <li><a href="/famous">Famous</a></li>
        <li><a href="/recommend">Recommend</a></li>
    </ul>
</div>
{% endblock menu%}

{% block search %}
<form method="GET" class="post-form">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="save btn btn-default">
        検索
    </button>
</form>
{% endblock %}

{% block time_order %}
<div class="btn-group" role="group">
    <button type="button" class="btn btn-default"><a href="/">新しい順</a></button>
    <button type="button" class="btn btn-default"><a href="/old/">古い順</a></button>
</div>
{% endblock %}